<!doctype html>
<html lang="en">
{{> head}}

<body>
    {{> navbar}}
    <div id="rootContainer2">
  <h2 id="teamHeader">Print Orders</h2> 


        <section class="progress">
            <section class="head">
         </section>
            <form style="text-align:right;">
                <table>
                    <th>Order ID</th>
                    <th>Type</th>
                    <th>Age</th>
                    <th>Manufacturer</th>
                    <th>Issue Description</th>
                    <th>Order Status</th>

                    {{#each ordersInProgress}}
                    <tr>
                        <input type="hidden" name="order{{@index}}" value="{{order_id}}" />
                        <td>
                            {{order_id}}
                        </td>
                        <td>
                            {{appliance_type}}
                        </td>
                        <td>
                            {{appliance_age}}
                        </td>
                        <td>
                            {{appliance_manufacturer}}
                        </td>
                        <td>
                            {{user_issue}}
                        </td>
                        <td>
                            in progress
                        </td>
                    </tr>
                    {{/each}}

                </table>
                <br>
                <button onclick="functiontoprint()">print</button>


            </form>
        </section>
        <script>
    function functiontoprint(){

    window.print();
    //i was trying to redirect it back to the manage page after printing but i couldnt get it done
    //window.location.href("/manage");
}
    </script>
</body>

{{> scripts}}


</html>