<!doctype html>
<html lang="en">
{{> head}}

<body>
    {{> navbar}}
    {{> aside}}
    <div id="rootContainer">
        <h1>{{title}}</h1>





        <section class="profilePic">
            <article class="welcome">
                <h4>Welcome, {{username}}</span></h4>
            </article>

            <article class="img">
                <img src="/avatars/avatar.png" alt="logo" width=80px>
            </article>

            <article class="info">
                <p>{{email}}</p>
            </article>

            <a class="edit" href="tech/settings">
                <article>
                    Edit Profile > </button>
                </article>
            </a>

        </section>
        <br><br>

        <button id="provideQuote" onclick="modal()">Provide a Quote</button>

        <section class="modal" id="modal">
            <article>
                <header>
                    <h2>Provide a quote</h2>
                    <button id="close" onclick="modal()"><i class="fa fa-times"></i></button>
                </header>
                <h2>{{UserInfo}}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>

                <!-- 		orderid, price, date/time -->
                <form id="quoteForm" action="" method="">
                    <textarea name="" id="" cols="54" rows="2" placeholder="Additional Comments"></textarea>
                    <br />
                    <input type="number" name="quoteValueNoTax" id="quoteValueNoTax" min="0" step="1"
                        placeholder="OrderId" disabled />
                    <input type="number" name="quoteValueWithTax" id="quoteValueWithTax" placeholder="Price: £0.00"
                        min="0.00" max="2500.00" step="0.01" />
                    <input type="date" name="quoteValueTotal" id="quoteValueTotal" placeholder="e.g.. 01/01/2019" />
                    </br>
                    <button class="btn" type="submit" onclick="">Send quote</button>
                </form>
            </article>
        </section>

        {{!-- <section class="temporary-form-for-quote">
            <form action="/tech/quote" method="POST">
                <textarea name="quote" placeholder="Provide a quote"></textarea>
                <input name="price" type="text" placeholder="Price" />
                <input name="order_id" type="text" placeholder="Order Id" />
                <input type="submit" />
            </form>
        </section> --}}

        <section class="head">
            <h2>Unallocated Orders</h4>
        </section>

        <section class="pending">


            {{#each orders}}
            <article>
                <p>Order ID: {{order_id}}</p>
                <p>Type: {{appliance_type}}</p>
                <p>Age: {{appliance_age}}</p>
                <p>Manufacturer: {{appliance_manufacturer}}</p>


                <button action="#">Provide Quote</button>



            </article>
            {{/each}}
        </section>




        <p><a href="/logout" style="align-text:right; color:#000;">Want to logout?</a></p>
    </div>
    {{> footer}}
</body>
{{> scripts}}


</html>