<!doctype html>
<html lang="en">
{{> head}}

<body>
    {{> navbar}}
    {{> aside}}
    <div id="rootContainer">
        <h1>{{title}}</h1>





        <section class="profilePic">
            <article class="welcome">
                <h4>Welcome, {{username}}</span></h4>
            </article>

            <article class="img">
                <img src="/avatars/avatar.png" alt="logo" width=80px>
            </article>

            <article class="info">
                <p>{{email}}</p>
            </article>

            <a class="edit" href="tech/settings">
                <article>
                    Edit Profile > </button>
                </article>
            </a>

        </section>
        <br><br>
        <section class="temporary-form-for-quote">
            <form action="/tech/quote" method="POST">
                <textarea name="quote" placeholder="Provide a quote"></textarea>
                <input name="price" type="text" placeholder="Price" />
                <input name="order_id" type="text" placeholder="Order Id" />
                <input type="submit" />
            </form>
        </section>

        <section class="head">
            <h2>Unallocated Orders</h4>
        </section>

        <section class="pending">


            {{#each orders}}
            <article>
                <p>Order ID: {{order_id}}</p>
                <p>Type: {{appliance_type}}</p>
                <p>Age: {{appliance_age}}</p>
                <p>Manufacturer: {{appliance_manufacturer}}</p>


                <button action="#">Provide Quote</button>



            </article>
            {{/each}}
        </section>




        <p><a href="/logout" style="align-text:right; color:#000;">Want to logout?</a></p>
    </div>
    {{> footer}}
</body>
{{> scripts}}


</html>