<!doctype html>
<html lang="en">
{{> head}}

<body>
    {{> navbar}}
    {{> aside}}
    <div id="rootContainer">
        <h1>{{title}}</h1>
        <!--<h4>Welcome, <span style="color:green">{{username}}</span></h4>-->

        <!-- START First section -->
        <section class="progress">
            <section class="head">
                <h2>Orders in Progress</h4>
            </section>
            <table>
                <th>Order ID</th>
                <th>Type</th>
                <th>Age</th>
                <th>Manufacturer</th>
                <th>Issue Description</th>

                {{#each ordersInProgress}}
                <tr>
                    <td>
                        {{order_id}}
                    </td>
                    <td>
                        {{appliance_type}}
                    </td>
                    <td>
                        {{appliance_age}}
                    </td>
                    <td>
                        {{appliance_manufacturer}}
                    </td>
                    <td>
                        {{user_issue}}
                    </td>
                </tr>
                {{/each}}

            </table>
        </section>
        <!-- END First section -->
        <!-- START Second section -->
        <section class="progress">
            <section class="head">
                <h2>Orders Completed</h4>
            </section>

            <table>
                <th>Order ID</th>
                <th>Type</th>
                <th>Age</th>
                <th>Manufacturer</th>
                <th>Issue Description</th>


                {{#each ordersInCompleted}}

                <tr>
                    <td>
                        {{order_id}}
                    </td>
                    <td>
                        {{appliance_type}}
                    </td>
                    <td>
                        {{appliance_age}}
                    </td>
                    <td>
                        {{appliance_manufacturer}}
                    </td>
                    <td>
                        {{user_issue}}
                    </td>


                </tr>
                {{/each}}

            </table>
        </section>
        <!-- END Second section -->
        <!-- START Third section -->
        <section class="progress">
            <section class="head" >
                <h2 style="margin-bottom:0;">My quotes</h4>
                <span>
                    <form class="form-inline" method="GET" action="/tech/manage">
                        <section>
                            <h3>Filter status:</h3>
                            <select name="filterq" id="filterq" onchange="this.form.submit()">
                                <option value="all">All</option>
                                <option {{#if_eq filterQuotes 'pending'}}selected{{/if_eq}} value="pending">Pending</option>
                                <option {{#if_eq filterQuotes 'accepted'}}selected{{/if_eq}} value="accepted">Accepted</option>
                                <option {{#if_eq filterQuotes 'rejected'}}selected{{/if_eq}} value="rejected">Rejected</option>
                            </select>
                        </section>
                    </form>
                </span>
            </section>

            <table>
                <th>Order ID</th>
                <th>Customer issue</th>
                <th>Quote</th>
                <th>Cost</th>
                <th>Quote status</th>
                <th>From - To</th>

                {{#each quotes}}
                <tr>
                    <td>
                        {{order_id}}
                    </td>
                    <td>
                        {{user_issue}}
                    </td>
                    <td>
                        {{description}}
                    </td>
                    <td>
                        {{cost}}
                    </td>
                    <td>
                        {{quote_status}}
                    </td>
                    <td>
                        {{time_from}} - {{time_to}}
                    </td>
                </tr>
                {{/each}}

            </table>
        </section>
        <!-- END Third section -->
    </div>
    {{> footer}}
</body>
{{> scripts}}


</html>