<!doctype html>
<html lang="en">
{{> head}}

<body>
    {{> navbar}}
    {{> aside}}
    <div id="rootContainer">
        <h1 class="page-title">Status of <span style="color:#3d3a3a">pending</span> orders</h1>
        <section class="pending">
            <article>
                <p>Order ID: {{order_id}}</p>
                <p>Type: {{appliance_type}}</p>
                <p>Age: {{appliance_age}}</p>
                <p>Manufacturer: {{appliance_manufacturer}}</p>


                <button action="#">Remove order</button>



            </article>
        </section>
        <h1 class="page-title">Status of <span style="color:orange">in progress</span> orders</h1>
        <section class="pending">
            <article>
                <p>Order ID: {{order_id}}</p>
                <p>Type: {{appliance_type}}</p>
                <p>Age: {{appliance_age}}</p>
                <p>Manufacturer: {{appliance_manufacturer}}</p>


                <button action="#">accept</button>
                <button action="#">object</button>



            </article>
        </section>
        <h1 class="page-title">Status of <span style="color:green">completed</span> orders</h1>
        <section class="pending">
            <article>
                <p>Order ID: {{order_id}}</p>
                <p>Type: {{appliance_type}}</p>
                <p>Age: {{appliance_age}}</p>
                <p>Manufacturer: {{appliance_manufacturer}}</p>


                <button action="#">Provide Quote</button>



            </article>
        </section>
    </div>
    {{> footer}}
</body>
{{> scripts}}

</html>